extends ../layout

block content
	.row
		-for (let i = 0; i < tasks.length; i++)
			.col-md-4.mb-4
				.card(class=`${taskCardBorder(tasks[i].importance)}`)
					.card-header(class=`${taskCardBackground(tasks[i].importance)}` style="color: white;")
						.form-check
							label.noselect.form-check-label(for=`ct_${tasks[i].id}`)
								input.form-check-input(type="checkbox", id=`ct_${tasks[i].id}`, style="margin-top: .45rem !important;", onchange="changeTaskStatus(this)" checked=(checkCompleted(tasks[i].completed)))
								div.t_name(class=`noselect ${strikethrough(tasks[i].completed)}` title=(tasks[i].completed ? 'Task Completed' : null))|#{tasks[i].name}
					.card-body.text-center
						p.mb-0 #{tasks[i].description}
					.card-footer.bg-white
						small.mr-2.noselect
							a.text-secondary(href=`/tasks/delete/${tasks[i].id}`, title="Delete Task")
								i.fas.fa-trash
						small.noselect.mr-2
							a.text-secondary(href=`/tasks/edit/${tasks[i].id}`, title="Edit Task")
								i.fas.fa-pencil-alt
						.float-right.noselect(title=`${formatTime(tasks[i].created_time)}`)
							small.text-muted|#{timeago(tasks[i].created_time)}
	script(type="module" src="/javascripts/main.js")
